body{
    background-color: #03fca1;}
nav a{color:#6b03fc}
nav a:hover{background-color: #fc034e;}
nav a{padding: 12px;
    margin-bottom: 40px;}
    .copyright {float: left;}
    .quote {float: right;}
    .adress {float: left;}
    .linkedin {float: right;}
    .form {display: flex;}
    .clear {clear:both;}
    .header {display: flex;
        justify-content: center; margin-top: 50px;}
.html img{width: 50px;}
.python img{width:50px}
.java img{width: 50px;}
.css img{width: 50px;}
.cfm img{width: 50px;}
.skills{display: flex;flex-basis: 75%;justify-content:space-around ;}
.right{background-color: #fc034e;border-radius: 1em;flex-basis: 25%; padding: 20px;}
.parent{display: flex;}
.form {flex-wrap: wrap;}
@media only screen and (max-width: 600px) {
    nav a{max-width: 100%; display: block;}
    span {display: none;}
}